@import"./utilities/variables";
@import"./layout/header";
@import"./layout/main";
@import"./layout/productos_categorias";
@import"./layout/banners";
@import"./layout/footer";


*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth ;
}

.subir{
    height: 50px;
    width: 50px;
    border: solid 2px $blanco;
    border-radius: 50%;
    background-color: $negro;
    position: fixed;
    bottom: 40px;
    right: 40px;
    text-align: center;
    line-height: 40px;
    background-image: url(../assets/img/flecha_subir.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 17px;
    transition: 0.5s;
}
.subir:hover{
    rotate: 180deg;
}


/* @MEDIA QUERIES INICIA */
@media only screen and (min-width: 426px){

    header{
        .marquesina{
            font-size: 10px;
            img{
                width: 11px;
            }
        }
        .flex_contenedor_padre{
            padding: 40px;
        }
        .hamburguesa{
            display: inline-block;
            img{
                height: 20px;
                display: inline-block;
            }
        }
        .logo{
            width: 125px;
        }
        
        .lupa_carrito{
            height: 25px;
            width: 50px;
            img{
                height: 25px;
            }
        }
    }

    main{
        .banner{
            padding: 20px 40px;
            background-position: -80px;
        }
    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }
    
    .banners_secundarios{
        padding: 20px 40px;
        background-position: -120px;
    }
    .banner_comunidad{
        padding: 20px 40px;
        background-position: -410px;
        }

    .shipping{
        justify-content: space-between;
        padding: 40px;
    }

    .logo_footer{
        justify-content: space-between;
        padding: 40px;
    }
    .empresa_footer{
        padding: 40px;
    }
    .contenido_ayuda{
        padding: 40px;
        justify-content: space-between;
    }
}

@media only screen and (min-width: 498px){

    header{
        .marquesina{
            font-size: 10px;
            img{
                width: 11px;
            }
        }
    }

    main{
        .banner{
            background-position: -10px;
        }   
    }

    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .banners_secundarios{
        background-position: -50px;
    }
    .banner_comunidad{
        padding: 20px 40px;
        background-position: -410px;
    }
    .section1_encabezado{
        padding: 20px 80px;
    }
    .bajada_nota{
        padding: 20px 40px;
    }
}


@media only screen and (min-width: 563px){

    main{
        .banner{
            background-position: center;
        }
    }
    
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
    }

    .banners_secundarios{
        background-position: center;
    }
    .banner_comunidad{
        padding: 20px 40px;
        background-position: -380px;
        }
    }


@media only screen and (min-width: 652px){

    .banner_comunidad{
        padding: 20px 40px;
        background-position: -210px;
        }
    }
    
@media only screen and (min-width: 768px){

    main{
        .banner{
            background-position: center;
            padding: 20px 120px;
        }
    }
    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }

    .banners_secundarios{
        padding: 20px 120px;
        background-position: center;
    }
    
    .banner_comunidad{
        padding: 20px 120px;
        background-position: center;
    }
    section{
        .section1_encabezado{
            padding: 20px 180px;
        }
    }

    .bajada_nota{
        padding: 20px 120px;
    }
    

.grid_container_footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.shipping{
justify-content: space-evenly;
padding: 20px;
}

.logo_footer{
align-items: flex-start;
justify-content: space-around;
padding: 20px;
border-bottom: none;
}
.empresa_footer{
padding: 20px 10px;
border-bottom: none;
justify-content: flex-start;
align-items: flex-start;
}
.empresa_footer p{
    font-size: 10px;
    }
.contenido_ayuda{
padding: 20px;
justify-content: space-around;
border-bottom: none;
}
h5{
    font-size: 13px;
}
}

@media only screen and (min-width: 1024px){
    header{
        .flex_contenedor_padre{
            justify-content: space-around;
            .logo{
                margin-left: -170px;
            }
            .nav_bar{
                margin-left: -80px;
                display:inline;
                ul{
                    display: flex;
                    justify-content: space-between;
                    width: 350px;
                }
            }
            .hamburguesa{
                height: 20px;
                width: 30px;
                mix-blend-mode: multiply;
                display: none;
                img{
                    height: 17px;
                    text-align: left;
                    mix-blend-mode: multiply;
                    display: none;
                }
            }
        }
    }

    main{
        .banner{
            background-position: center;
            padding: 20px 200px;
        }
    }

    section{
        .grid_container_productos{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
        }
    }
        
    .banners_secundarios{
        background-position: center;
        padding: 20px 200px;
    }
    
    section.comunidad{
        padding: 20px 200px;
    }

    .banner_comunidad{
        padding: 20px 200px;
        background-position: center;
        }

    .section1_encabezado{
            padding: 20px 300px;
        }


        .bajada_nota{
            padding: 20px 200px;
        }
    footer{
        h5{
            font-size: 13px;
        }
    }
    .grid_container_footer{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .shipping{
    justify-content: space-evenly;
    padding: 20px;
    }

    .logo_footer{
    align-items: flex-start;
    justify-content: space-around;
    padding: 20px;
    border-bottom: none;
    }
    .empresa_footer{
    padding: 20px 10px;
    border-bottom: none;
    justify-content: flex-start;
    align-items: flex-start;
    }
    .empresa_footer p{
        font-size: 10px;
        }
    .contenido_ayuda{
    padding: 20px;
    justify-content: space-around;
    border-bottom: none;
    }
}
/* @MEDIA QUERIES FINALIZA */
