// fuentes
$futuraBO: "FuturaStd-BoldOblique";
$futuraHO: "FuturaStd-HeavyOblique";
$montserratR: "Montserrat-Regular";
$montserratI: "Montserrat-Italic";
$montserratM: "Montserrat-Medium";

// colores
$negro: #000000;
$blanco: #ffffff;
$verde: #8bd193;
$gris: #838383;
