/* SECTION COMUNIDAD STYLE */
.banners_secundarios{
    height: 250px;
    width: 100%;
    padding-left: 20px;
    background-image: url(../assets/img/helicoptero.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: -190px;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    justify-items: center;
    h3{
        width: 180px;
        font-family: $futuraBO;
        font-size: 30px;
        color: $blanco;
        position: relative;
    }
    a{
        top: 10px;
        height: 30px;
        width: 150px;
        border: solid $blanco 1px;
        display: block;
        transform: skewX(-9deg);
        text-align: center;
        line-height: 30px;
        color: $blanco;
        position: relative;
        text-decoration: none;
        transition: 1.5s;
        p{
            width: 150px;
            display: block;
            text-align: center;
            line-height: 30px;
            font-family: $montserratI;
            font-size: 17px;
            color: $blanco;
            position: relative;
            transform: skewX(9deg);
            transition: 2s;
        }
        &:hover{
            background-color: $blanco;
            border: solid $blanco 1px;
            width: 180px;
            p{
                color: $negro;  
                width: 180px;
            }
        }
    }
}



/* SECTION COMUNIDAD STYLE FINALIZA */