/* HEADER STYLE INICIA */
header{
    height:90px;
    width: 100%;
    z-index: 98;
    position: absolute;
    // marquesina inicia
    .marquesina{
        height: 30px;
        width: 100%;
        line-height: 30px;
        text-align: center;
        font-family: $futuraHO;
        font-size: 8.5px;
        background-color: $negro;
        color: $blanco;
        overflow: hidden;
        padding: 0px 20px 0px 20px;
        img{
            width: 10px;
            line-height: 30px;
        }
    }
    // marquesina finaliza
    .flex_contenedor_padre{
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.098);
        padding: 20px;
        //hamburguesa inicia
        .hamburguesa{
            height: 20px;
            width: 30px;
            mix-blend-mode: multiply;
            display: inline-block;
            img{
                height: 17px;
                text-align: left;
                mix-blend-mode: multiply;
                display: inline-block;
            }
        }
        //hamburguesa inicia
        // nav inicia
        .nav_bar{
            display: none;
            ul{
                display: none;
                li{
                    list-style: none;
                    display: inline;
                    a{
                        text-decoration: none;
                        font-family: $futuraBO;
                        font-size: 12px;
                        color: rgba(0, 0, 0, 0.579);
                        mix-blend-mode: multiply;
                        transition: 0.5s;
                        &:hover{
                            color: $negro;
                            display: block;
                            margin-top: -3px;
                        }
                    }
                }
            }
        }
        // nav finaliza
        // logo inicia
        .logo{
            width: 120px;
            align-items: center;
            display: block;
            mix-blend-mode: multiply;
            position: relative;
            text-align: center;
            z-index: 99;
        }
        // logo finaliza
        .lupa_carrito{
            height: 25px;
            width: 45px;
            text-align: center;
            mix-blend-mode: multiply;
            display: flex;
            align-items: center;
            justify-content: space-between;
            img{
                height: 20px;
                margin: auto;
                text-align: center;
                mix-blend-mode: multiply;
                display: inline;
            }
        }
    }
}       
/* HEADER STYLE FINALIZA */